body {
   background-color: #C9AFA5; 

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ola {
    color: #B15330;;
    text-align: center;
    font-size: 90px;
}

.enem {
    color: #B15330;
    text-align: center;
    font-size: 50px;

}

.note {
    color: #B15330;
    text-align: center;
    font-size: 50px;
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.oque {
    color: #25535B;
    text-align: center;
    font-size: 50px;

}

.p1 {
    color: #000000;
    font-size: 35px;
    left: auto;
    width: auto;
}

.p2 {
    color: #000000;
    text-align: center;
    font-size: 50px;
}

.p3 {
    color: #000000;
    font-size: 50px;
    left: auto;
    width: auto;
}

.left {
    color: aliceblue;
    float: left;
    font-size: 30px;
    display: inline-block;
    width: 45%;
    margin: 0 2.5%
}

.right {
    color: aliceblue;
    float: right;
    font-size: 30px;
    display: inline-block;
    width: 45%;
    margin: 0 2.5%
}

.left1 {
    float: left;
    font-size: 50px;
    color: #25535B;
}

.right1 {
    float: right;
    font-size: 50px;
    color: #25535B;
}



.perguntas {
    display: flex;
}

.respostas {
    display: block;
}

.container {
    display: flex
}

.t5 {
    color: aliceblue;
    font-size: 30px;

    margin-left: 30%;
    margin-right: 30%;
}

.right2 {
    text-align: right;
}

.roda {
    background-color: #C9AFA5 ;
    color: aliceblue;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.b {
    flex: 1;
    padding: 20px;
}

.c{
    color: #000000;
}